.cityhome {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cityhome-color {
  width: 100%;
  background: #fa0050;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
}
.city-up {
  width: 1009px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.city-up img {
  width: 160px;
  height: 30px;
}
.city-up select {
  width: 240px;
  height: 40px;
  margin: 0 5px;
  border-radius: 3px;
}
.city-up-a select {
  position: relative;
}
.city-up-a span {
  position: absolute;
  right: 0;
  top: 0;
}

.city-up-b {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.city-up-b input {
  width: 432px;
  height: 40px;
}
.city-up-b button {
  width: 65px;
  height: 40px;
  color: black;
  background-color: #f6a31c;
  border: none;
}
.city-up-b-icon {
  width: 18px;
  height: 19px;
}

.city-down {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  margin-top: 10px;
  align-items: flex-start;
}
.city-down-left {
  width: 1009px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.city-down-left-1 {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.city-down-left-a {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid #e5e5e5;
  border-radius: 3px;

  font-size: 11px;
  font-weight: 700;
}
.city-down-left-a label {
  margin: 5px 0 0 5px;
  display: flex;
  align-items: center;
}
.city-down-left-a input:nth-child(2),
.city-down-left-a input:nth-child(4) {
  margin: 5px 0 0 5px;

  align-items: center;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  width: 95%;
  display: flex;
  justify-content: center;
}

.city-down-left-b {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  width: 95%;
  font-weight: 700;

  align-items: center;
  margin-left: 5px;
}
.city-down-left-b a {
  color: #fa0050;
  text-decoration: underline;
  font-weight: 300;
}
.city-down-left-b-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.city-down-left-b a:hover {
  color: black;
}
.city-down-left-b-1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: black;
  text-decoration: none;
  font-weight: 500;
}
.city-down-left-b-1 span {
  display: inline-block;
}
.city-down-left-c {
  width: 95%;
  display: flex;
  align-items: center;
  margin-left: 5px;
  justify-content: center;
  flex-direction: column;
}
.city-down-left-c button {
  width: 100%;
  text-align: center;
  border-radius: 3px;
  border: none;
  justify-content: center;
}
.city-down-left-c button:nth-child(1) {
  width: 100%;
  padding: 10px 40px;
  background: #29cc81;
  color: white;
  font-size: 12px;
  font-weight: 700;
}
.city-down-left-c button:nth-child(1):hover {
  background-color: green;
}

.city-down-left-c button:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 30px 5px 13px;
  font-size: 12px;
  font-weight: 700;
  background: #1a78f2;
  color: white;
  width: 100%;
}
.city-down-left-c button:nth-child(3):hover {
  background-color: #0c62d2;
}
.city-down-left-d {
  margin-top: 15px;
  width: 100%;
  background: #efefef;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
}
.city-down-left-d a {
  color: #fa0050;
  text-decoration: underline;
}
.city-down-left-e {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid #e5e5e5;
  margin-top: 15px;
  border-radius: 3px;
}
.city-down-left-f {
  width: 100%;
  height: 30px;
  background-color: #fa0050;
  color: white;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5px;
}
.city-down-left-g {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  padding: 15px 0;
  font-size: 12px;
  font-weight: 700;
  width: 100%;
  color: #e5e5e5;
}
.city-down-left-g span {
  width: 100%;
  color: black;
}
.city-down-left-h {
  width: 47px;
  height: 41px;
  margin-right: 10px;
  color: #e5e5e5;
}

.city-down-left-2 {
  width: 70%;
  height: 866px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 15px;
}
.city-down-left-2 h2 {
  font-size: 24px;
  font-weight: 700;
  margin-top: -1%;
}
.city-down-left-2 p {
  font-size: 11px;
  margin-top: -2%;
  line-height: 18px;
}
.city-down-left-2a {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 2%;
}

.city-down-left-2b {
  display: flex;
  width: 33%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.city-down-left-2b:nth-child(2) {
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}
.city-down-left-2b span {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
}
.city-down-left-2c {
  background-color: #fa0050;
  color: white;
  border-radius: 100px;
  font-size: 25px;
  font-weight: bolder;
  padding: 5px 0.2px;
  margin-right: 10px;
}

.city-down-left-h {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
}
.city-down-left-l {
  width: 66%;
  display: flex;
  border: none;
  border-radius: 5px;
  flex-direction: column;
  padding-right: 5px;
}
.city-down-left-l img {
  border-radius: 5px;
  margin-bottom: 15px;
}
.city-down-left-r {
  width: 33%;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 700;
  color: white;
}
.city-down-left-r div:nth-child(1) {
  border-radius: 5px;
  background-color: #29cc81;

  padding-bottom: 10px;
}

.city-down-left-r div:nth-child(2) {
  border-radius: 5px;
  background-color: #fa0050;

  padding-bottom: 10px;
}
.city-down-left-r div:nth-child(3) {
  border-radius: 5px;
  background-color: #f6a31c;

  padding-bottom: 10px;
}

.city-down-left-r-a {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5%;
  padding-top: 5%;
}

.city-down-left-r-a div:nth-child(1) {
  background-color: white;
  border-radius: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-weight: 500;
  width: 95%;
}

.city-down-left-r-a div:nth-child(2) {
  background-color: white;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  width: 95%;
}

.city-down-left-r-a div:nth-child(3) {
  background-color: white;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  width: 95%;
}
.city-down-left-r-a div:nth-child(4) {
  background-color: white;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  width: 95%;
}
.city-down-left-r-a div:nth-child(5) {
  background-color: white;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  width: 95%;
}
.city-down-left-r-a div:nth-child(6) {
  background-color: white;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  width: 95%;
  color: #fa0050;
  padding: 2% 5%;
  text-decoration: underline;
}
.city-down-left-r-a div:nth-child(6):hover {
  color: black;
}
.city-down-left-r-b {
  display: flex;
  justify-content: space-between;
  width: 95%;
  align-items: center;
  flex-direction: row;
  color: black;
  padding: 2% 5% 0 5%;
}

.city-down-left-r-c {
  color: white;
  font-size: 12px;
  font-family: 700;
  background-color: #29cc81;
  border: none;
  border-radius: 4px;
  margin: 5px 5px;
  padding: 2px 4px;
}
.city-down-left-c-icon {
  width: 22px;
  height: 22px;
  margin-right: 10px;
}
.city-down-left-r-d {
  height: 19px;
  width: auto;
}
.city-down-left-r-a:nth-child(1) a {
  background-color: white;
  color: #29cc81;
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 2%;
  text-decoration: underline;
  font-weight: 500;
}

.city-down-left-r-e {
  display: flex;
  justify-content: space-between;
  width: 95%;
  align-items: center;
  flex-direction: row;
  color: #f6a31c;
}
.city-down-left-r-f {
  display: flex;
  justify-content: flex-start;
  width: 95%;
  align-items: center;
  background-color: white;
  color: black;
  padding-left: 10%;
  font-weight: 200;
  margin-top: 5px;
}
.city-down-left-r-g {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 11px;
  color: black;
}
.city-down-left-r-g:hover {
  color: #ff6508;
}
.city-down-right {
  display: flex;
  flex-direction: column;
  width: 7%;
  height: auto;
}
.city-down-right img {
  margin-top: 10%;
}
.city-down-d {
  display: flex;
  z-index: 2;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.carousel-status {
  display: none;
}
.control-dots {
  display: none;
}
.carousel-root {
  margin-bottom: 2%;
  border-radius: 5px;
}
.carousel {
  display: flex;
  position: absolute;
  margin-top: -77px;
  width: 100%;
  padding: 0;
  height: 59;
}
.carousel .thumbs-wrapper {
  margin: 0 !important;
  width: 100%;
  background-color: #ffffff52;
  z-index: 5;
  padding: 0 !important;
  border: none !important;
}
.carousel .thumb {
  width: 100%;

  padding: 0;
  margin: 0%;
  border: none !important;
}
.carousel .thumb img {
  object-fit: cover !important;
  height: 50px !important;
}
.carousel .thumb.selected,
.carousel .thumb:hover {
  border: none !important;
}
.thumbs-wrapper {
  margin: 0 !important;
}
.carousel .thumb:focus {
  border: none !important;
}
ul {
  margin: 0 !important;
  padding: 0 !important;
}

.search-result {
  
  height: 148px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 11px;
  font-weight: 500;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.search-result:hover {
  border: 1px solid #f6a31c;
}
.search-result img {
  width: 54px;
  height: 41px;
  object-fit: cover;
  border-bottom: 1px solid #e5e5e5;
  margin-top: 5px;
}
.search-result > span:nth-child(2) {
  background-color: #f6a31c;
  width: 35px;
  height: 20px;
  border-radius: 3px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.search-result > span:nth-child(3) {
  padding-top: 15px;
  text-align: center;
  font-weight: 700;
  width: 84px;
  height: 85px;
  margin-left: auto;
  margin-right: auto;
  font-size: 10px;
}
.search-result-map {
  width: 460px;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.search-result-main {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: absolute;
  top: 50px;
  z-index: 3;
  background-color: white;
  padding: 10px;
  border: 1px solid #f6a31c;
}
.search-result-main > span {
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 15px;
}

.city-up-b-openFood {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-right: 15px;
  width: 100%;
}


@media screen and (max-width: 768px) {
  .cityhome {
    display: none;
  }
}
