.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-gri {
  width: 100%;
  background-color: #eff0f2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  margin-bottom: 20px;
}
.content-gri p {
  align-items: center;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}
.content-cn {
  width: 1009px;
  display: block;
}

.content-block {
  display: inline-block;
  width: 62px;
  height: 82px;
  margin-bottom: 1px;
  margin-right: 22px;
  font-weight: 600;
}
.content-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-number-items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #f6a31c;
  border: 2px solid #f6a31c;
  color: white;
  border-radius: 3px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 8%);
  padding: 0 2px 2px 2px;
  margin-bottom: 5px;
  transition: 0.2s;
}
.content-number-items:hover {
  color: #f6a31c;
  background-color: white;
}
.content-number-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-city {
  display: flex;
  flex-direction: column;
}
.content-city-items {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  object-fit: cover;
}
.content-city-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.content-bottom {
  width: 1009px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.content-bottom-item {
  display: flex;
  flex-direction: row;
}
.content-bottom-tree {
  width: 189px;
  height: 104px;
  /* border-right: 2px solid rgba(0, 0, 0, 0.212); */
}
.content-block-tree-img {
  width: 189px;
  height: 104px;
}
.content-block-tree-img img {
  display: flex;
  justify-content: flex-start;
  text-align: flex-start;
  object-fit: cover;
}
.content-bottom-tree-art {
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: #fa0050;
  font-size: 14px;
  font-weight: 600;
}

.content-bottom-article {
  width: 1009px;
  position: relative;
  font-size: 11px;
  font-weight: 400;
  z-index: 1;
  margin-bottom: 24px;
  margin-top: 30px;
  padding: 10px;
  line-height: 18px;
}
.content-bottom-bg {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 700px;
  width: 450px;
  height: 450px;
}
