.mobilebttn {
  display: none;
}
@media screen and (max-width: 768px) {
  .mobilemodal {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobilebttn-modal-end {
    width: 10%;
    height: 100vh;
    z-index: 1;
  }
  .ReactModal__Content {
    padding: 0 !important;
  }
  .mobilebttn-modal {
    width: 90%;
    display: flex;
    flex-direction: column;

    align-items: center;
    background-color: #dedede;

    height: 100vh;
    z-index: 1;
    left: 0;
    top: 0;
  }
  .mb-dizayn {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin: 10px 0px 10px 5%;
  }
  .mb-close {
    display: flex;
    width: auto;
    margin: 10px 0;
  }
  .mb-search {
    width: 95%;
    display: flex;
    flex-direction: row;

    border: none;
    object-fit: cover;
  }
  .mb-src-in {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mb-src-in-i {
    width: 100%;
    padding-left: 10px;
    height: 37px;
    display: flex;
    justify-items: center;
    align-items: center;
  }
  .mb-src-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 39px;
    background-color: #fab84c !important;
    border: none;
  }
  .mb-src-btn-i {
    width: auto;
    height: 20px;
    object-fit: cover;
  }
  .zzz {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #dedede;
    border: 1px solid #d7d7d7;
  }
  .zzz:hover {
    color: white;
    background: #29cc81;
    border: none;
  }
  .zzza {
    display: flex;
    flex-direction: row;
    padding-left: 7%;
    align-items: center;
  }
  .zzzd {
    width: auto;
    height: 25px;
    font-weight: 700;
    color: black;
  }
  .zzzb {
    height: 25px;
    width: auto;
    color: black;
    margin-right: 5%;
  }

  .zzzc {
    height: 20px;
    width: auto;
    color: #767676;
  }
  .sssa {
    width: 115px;
    height: 36px;
    background-color: white;
    color: #29cc81;
    border: 1px solid #29cc81;
    border-radius: 50px;
    margin: 20px 0;
  }
  .is {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #ededed;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    padding: 2%;
  }
  .isa {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .iss {
    display: flex;
    flex-direction: row;
  }
  .iss span {
    font-weight: 700;
  }
  .is button {
    width: 40%;
    width: auto;
    max-height: 50%;
    border: none;
    border-radius: 5px;
    background: #29cc81;
    color: white;
  }
}
