.mobilesehirsecimi {
  display: none;
}
@media screen and (max-width: 768px) {
  .mobilesehirsecimi {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ededed;
  }
  .mbl-navbar{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5;
   
  }
  .mbl-banner {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ededed;
  }
  .mbl-banner-l {
    display: flex;
    align-items: center;
    margin: 0 5px;
    margin-left: 10px;
  }
  .mbl-banner-l > img {
    width: 29px;
    height: 29px;
    border-radius: 5px;
  }
  .mbl-banner-y {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 700;
  }
  .mbl-banner-log{
    display: flex;
  }
  .mbl-banner-logo {
    color: white;
    background-color: #fa0050;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 54px;
    
  }
  .mbl-banner-logo > img {
    width: 132px;
    height: 25px;
  }
  .mbl-banner-search {
    height: 52px;
    width: 100%;
    background-color: #fa0050;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ededed;
  }
  .mbl-banner-search-input {
    width: 315px;
    height: 40px;
    border: none;
    padding-left: 15px;
  }
  .mbl-banner-search-icon {
    background-color: #fab84c;
    height: 40px;
   width: 10%;
    object-fit: cover;
  }
}
.mbl-banner-content {
  margin-top: 156px;
  background-color: #fa0050;
  width: 100%;
}
.mbl-banner-content-1{
  margin-top: 106px;
  background-color: #fa0050;
  width: 100%;
}
.mbl-banner-content > span,.mbl-banner-content-1 > span {
  width: 100%;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  color: white;
  padding-left: 5%;
}
.mbl-banner-content-menu {
  display: flex;
  width: 100%;
  height: 49px;
  background-color: #f0004c;
  flex-direction: row;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  align-items: center;
  justify-content: space-around;
}
.mbl-banner-content-menu-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  width: 45%;
  height: 70%;
}
.mbl-banner-content-menu-1 > img {
  height: 20px;
  width: auto;
  margin-right: 5px;
}
.slider-wrapper,
.slide > div > img {
  height: 175px !important;
  width: 100% !important;
  object-fit: cover !important;
}
.mbl-banner-content-slider {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.control-dots {
  display: flex !important;
  background-color: rgba(0, 0, 0, 0.335);
  width: 80% !important;
  justify-content: center !important;
  align-items: center !important;
  height: 20px !important;
  margin-left: 10% !important;
}
.thumbs-wrapper {
  display: none !important;
}
.mbl-banner-content-login {
  margin-top: 20%;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;

  align-items: center;
}
.mbl-banner-content-user {
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.mbl-banner-content-user-1 {
  width: 100%;
  height: 40px;
  color: #29cc81;
  border: 1px solid #29cc81;
  border-radius: 1px;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mbl-banner-content-user-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 40px;
  background-color: #3c5b9a;
  color: white;

  border-radius: 1px;
  font-size: 14px;
  font-weight: 700;
}
.mbl-content {
  background-color: #ededed;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 700;
}
.mbl-content-city {
  margin-top: 10px;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 12px 10px;
  color: #29cc81;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.mbl-content-city-l {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-track {
  width: 100% !important;
}
.slick-list {
  background-color: #3c5b9a;
}
.mbl-content-restaurant-1 {
  margin: 10px 0 10px 10px;
}

.multiCarousel-item-1 {
  display: flex;
  flex-direction: column;
  width: 80px;
  padding: 5px;
  height: 100px;
  background-color: white;
  font-size: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-weight: 400;
  text-align: center;

  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.multiCarousel-item-1 > img {
  width: 53px !important;
  height: 53px !important;
}
.multiCarousel-item-1 > span {
  width: 100%;
  font-size: 10px;
  color: black;
  font-weight: 400;
  line-height: 12px;
}
.react-multi-carousel-track {
  width: 80px !important;
}
.react-multi-carousel-item {
  margin-right: 10px !important;
}
.react-multiple-carousel__arrow--right,
.react-multiple-carousel__arrow--left {
  display: none;
}
.mbl-content-restaurant-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.mbl-content-restaurant-2-r {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #767676;
}
.mbl-content-restaurant-2-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  background-color: white;
  padding: 0 10px;
  border-bottom: 1px solid #c7c2c2;
  width: 100%;
}
.mbl-content-restaurant-2-c-l {
  display: flex;
  align-items: center;
  font-size: 12px;
}
.mbl-content-restaurant-2-c-l > img {
  width: 18px;
  margin: 0 5px;
}
.mbl-content-restaurant-2-c-l > span {
  width: 35px;
  height: 21px;
  background-color: #29cc81;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}
.mbl-content-restaurant-2-c-l > a {
  width: 273px;
}
