.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.page-end {
  width: 100%;
}
.bbb {
  width: 100%;
  background-color: #eff0f2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.aaa {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 1009px;
}
.page-end-yemeksepeti {
  width: 60%;
  display: grid;
  grid-template-columns: auto auto auto;
  font-size: 11px;
  color: #ff6100;

  padding: 25px 0 15px 0;
}
.page-end-yemeksepeti a {
  padding-bottom: 10px;
  padding-right: 15px;
}

.page-end-contact {
  display: flex;
  justify-content: center;
  height: 130px;
}
.ccc {
  width: 1009px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.page-end-contact-follow {
  font-size: 11px;
}
.page-end-contact-follow a {
  color: #fa0050;
}
.page-end-contact-follow a:hover {
  color: black;
}
.page-end-contact-follow-bold {
  font-weight: 700;
  height: 24px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.page-end-contact-follow-bold-icon {
  width: 24px;
  height: 24px;
  margin: 0 2px;
}
.page-end-contact-app {
  display: flex;
  flex-direction: row;
}
.page-end-support {
  width: 1009px;
  margin: 0 auto;
  border-top: 1px solid #e5e5e5;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
}
.page-end-support p {
  width: 1009px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.page-end-contact-app {
  display: flex;
  flex-direction: row;
}
.page-end-contact-app-1 {
  display: flex;
  flex-direction: column;
}
.page-end-contact-app-1 img {
  display: flex;
  width: 74px;
  height: 25px;
  object-fit: cover;
  padding: 5px;
  border-right: 1px solid #e6e6e6;
  margin: 8px 10px 8px 0;
}

.page-end-contact-app-2 {
  display: flex;
  flex-direction: column;
}

.page-end-contact-app-2 img {
  display: flex;
  width: auto;
  height: 35px;
  object-fit: cover;
  padding: 2px;
  margin-right: 5px;
  margin-bottom: 10px;
}
.page-end-contact-app-3 img {
  display: flex;
  width: auto;
  height: 90px;
  object-fit: cover;
}

.page-end-support img {
  width: 53px;
  height: 24px;
}

@media screen and (max-width: 768px) {
  .page-end {
    display: none;
  }
}
